body {
    /* font-family: arial, helvetica, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-style: italic;
    color: #ddd;
    padding: 0;
}

h1 {
    color: #ddd;
    background-color: black;
    font-size: 4em;
    text-align: center;
    margin: 0 0 0;
    padding: 15px;
    letter-spacing: 0.25em;
}
