<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student profile</title>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="css/common-style.css">
    <link rel="stylesheet" href="css/mentormain.css">
    <link rel="stylesheet" href="css/topnav.css">

</head>
<body>
<!-- Top Navigation Menu -->
<div class="topnav">
    <a href="#home" class="active"></a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
        <a href="#profile">Show my profile</a>
        <a href="#wallet">Show my wallet</a>
        <a href="#store">Go to store</a>
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="#" class="icon" id="clickme">
        <span></span>
        <span></span>
        <span></span>
    </a>
</div>

<div class="content">
    <h1 class="editStudent">Your details:</h1>
    <form>
        <section>
            <label for="name">Name:</label>
            <input id="name" value="{{ student.name }}">
        </section>
        <section>
            <label for="surname">Surname:</label>
            <input id="surname" value="{{ student.surname}}">
        </section>
        <section>
            <label for="email">Email:</label>
            <input id="email" value="{{ student.email }}">
        </section>
        <section>
            <label for="experience">Experience:</label>
            <input id="experience" value="{{ balance.getTotalEarned() }}">
        </section>
        <section>
            <button type="button">Edit</button>
        </section>
    </form>
</div>

<iframe name="footer" src="footer.html">
</iframe>

<script src="js/hamburger-menu.js"></script>
</body>
</html>